/* Estilos*/
body{
    background-color: #ffbdbd
}

.titulo{
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.img-centro{
    text-align: center;
}

.humita{
    margin: 12px;
}