/* Estilos*/
body{
    background-color: white;
    box-sizing: border-box;
}

.mother-div{
    background-color: rgb(221, 185, 255);
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 1%;
}

h1{
    text-align: center;
    font-size: 300%;
    width: auto;
    margin-top: 8px;
}

.img-centrada{
    text-align: center;
}

img{
    margin: 12px;
}

.home{
    text-align: center;
    font-size: large;
}

#div-img-humita-centrada{
    display: flex;
}

#centrar-humita-con-el-texto{
    align-self: center;
    flex: wrap;
}

#humita-img{

}

.ol-humitas{
    height: auto;
    width: auto;
    flex: 1 0 0%;
}

li, p{
    margin: 5px;
}







/* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 250px;
    flex: 1 1 auto;
  }

  /* only div.two is selected here */
.flex-container .two {
    flex-shrink: 0;
    margin: 0 10px 0 10px;
    
  }