/* Estilos*/
*{
    box-sizing: border-box;
}

body{
    background-color: #ffbdbd
}

.titulo{
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.img-centro{
    text-align: center;
}

.humita{
    margin-top: -350px;
    margin-bottom: 200px;
    width: 220px;
    height: 200px;
    margin-left: 600px;
}

.home{
    text-align: center;
    margin-bottom: 15px;
}

.alinear-humita{
    width: 580px;
}